body,
html,
* {
    font-family: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 85vw;
    height: 50vw;
    flex-direction: row;
    font-size: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15rem;
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: space-between 5px;    
}
.terstegenimg{
    width: 50%;
    object-fit: cover;
    margin-left: 13rem;
    margin-top: -1rem;
}
h1{
    font-size: 7rem;
    text-align: center;
    margin-top: 2rem;
    color: rgb(106, 121, 220);
}
h2{
    text-align: center;
}
.posts{
    width: 45vw;
    height: 30vw;
    background-color: bisque;
    border: solid;
    border-color: black;
    margin-left: 2rem;
    margin-top: 1rem;
}