body,
html,
* {
    font-family: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

.container{
    width: 85vw;
    height: 50vw;
    flex-direction: row;
    font-size: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 90vw;
    justify-content: space-between 5px;
    margin-left: 4%;
}
img{
    width: 65%;
    object-fit: contain;
    margin-left: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12%;
}
.cubarsiimg{
    width: 83.5%;
    object-fit: contain;
    margin-left: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 30%;
}
.araujoimg{
    width: 76%;
    object-fit: contain;
    margin-left: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20%;
}
.gaviimg{
    width: 76%;
    object-fit: contain;
    margin-left: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20%;
}
.ferranimg{
    width: 76%;
    object-fit: contain;
    margin-left: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20%;
}
.pedriimg{
    width: 76%;
    object-fit: contain;
    margin-left: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20%;
}
.lewandowskiimg{
    width: 76%;
    object-fit: contain;
    margin-left: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20%;
}
.raphinaimg{
    width: 75%;
    object-fit: contain;
    margin-left: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20%;
}
.lamineimg{
    width: 83.5%;
    object-fit: contain;
    margin-left: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 30%;
}
h1{
    font-size: 7rem;
    text-align: center;
    margin-top: 2rem;
    color: rgb(106, 121, 220);
}
h2{
    text-align: center;
    margin-top: 3%;
    margin-bottom: -3%;
}
.posts{
    width: 26%;
    height: 28vw;
    background-color: rgb(188, 169, 141);
    border: solid;
    border-color: rgb(103, 151, 228);
    margin-left: 2rem;
    margin-top: 1rem;
    border-radius: 10%;
    align-items: center;
    min-width: 25rem;
    min-height: 30rem;
}